*{
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    background: #171100;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */
.header{
    background: #FFFCF4;
}

.header .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 8px;
}

.header .list{
    display: flex;
    margin-left: auto;
}

.header .list li a{
    display: inline-block;
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.header .list li.active{
    position: relative;
}

.header .list li.active a::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: 3px;
}

.header .list li a:hover,
.header .list li.active a{
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .btn{
    min-width: 144px;
    height: 50px;
    border-radius: 24.5px;
    margin-left: 49px;
}